<!doctype html>
<html>
<head>
    <title>Spinning Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>Spinning Registry</title>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Spinner Authentication</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <a href="/auth/facebook" class="btn btn-default"><span class="fa fa-facebook"></span>Facebook</a>
        <a href="/auth/strava" class="btn btn-default"><span class="fa fa-glide"></span>Strava</a>
        <a href="/auth/fitbit" class="btn btn-default"><span class="fa fa-bullhorn"></span>Fitbit</a>
    </div>
</div>
</body>
</html>